<style>
.share-block {
    position: relative;
        width: 100%;
}
.share_toolbox {
    position: absolute;
    background: black;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 0.7rem 1.5rem;
    z-index: 1;
    right: 5px;
    top: 6px;
}
.share_toolbox .st-custom-button path {
    fill: white;
}
.share_toolbox .st-custom-button.gmail-icon path{
    fill: none;
    stroke: white;
}
.addthis_inline_share_toolbox {
    display: flex;
    align-items: center;
}
.st-custom-button:not(:last-child) {
    margin-right: 2.5rem;
}
.st-custom-button {
    cursor: pointer;
}
div#copy-text {
    font-size: 12px;
    color: green;
    margin-bottom: 1rem;
}
</style>
<div class="share-block">
<div class="share_toolbox hidden">  
    <div id="copy-text" class="copy-text hidden">Copied!</div>
    <div class="addthis_inline_share_toolbox">
        <div class="st-custom-button facebook-icon" data-network="facebook" target="_blank">
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
            <path d="M5.83337 5.33203H8.33337V7.83203H5.83337V13.6654H3.33337V7.83203H0.833374V5.33203H3.33337V4.2862C3.33337 3.29536 3.64504 2.0437 4.26504 1.35953C4.88504 0.673698 5.65921 0.332031 6.58671 0.332031H8.33337V2.83203H6.58337C6.16837 2.83203 5.83337 3.16703 5.83337 3.5812V5.33203Z" fill="#44AC34"/>
            </svg>
            </span>
        </div>
        <div class="st-custom-button twitter-icon" data-network="twitter">
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5175 0.78605C11.9417 0.71355 12.4159 0.689383 12.8625 0.765217C13.6582 0.899608 14.3954 1.26907 14.9792 1.82605C15.3592 1.83438 15.7334 1.75938 16.0642 1.65272C16.384 1.54844 16.6909 1.40839 16.9792 1.23522L16.9867 1.23022C17.1067 1.15026 17.2507 1.11426 17.3942 1.12832C17.5377 1.14237 17.6719 1.20562 17.7741 1.30734C17.8763 1.40906 17.9402 1.54299 17.955 1.68643C17.9697 1.82987 17.9344 1.974 17.855 2.09438C17.6825 2.35688 17.4417 2.82522 17.1725 3.35022L17.0434 3.60105C16.8892 3.90105 16.7309 4.20438 16.5834 4.46438C16.4909 4.62772 16.3917 4.79355 16.2917 4.93688V5.16522C16.302 6.53075 16.0401 7.88465 15.5215 9.1479C15.0029 10.4112 14.2378 11.5585 13.271 12.5229C12.3042 13.4873 11.155 14.2494 9.89047 14.7649C8.62593 15.2804 7.27138 15.5389 5.90588 15.5252C3.92709 15.527 1.98993 14.9569 0.32755 13.8835C0.208728 13.8067 0.119506 13.6918 0.0744771 13.5576C0.0294486 13.4235 0.0312799 13.278 0.0796713 13.145C0.128063 13.0121 0.220149 12.8994 0.340868 12.8256C0.461586 12.7518 0.60379 12.7211 0.744216 12.7386C1.89244 12.8758 3.0562 12.6905 4.10505 12.2036C3.59333 11.9709 3.13566 11.6343 2.76119 11.215C2.38672 10.7958 2.10367 10.3032 1.93005 9.76855C1.89697 9.6662 1.89086 9.55704 1.91232 9.45164C1.93378 9.34623 1.98208 9.24815 2.05255 9.16688L2.06088 9.15855C1.63787 8.78168 1.29885 8.32005 1.06584 7.80364C0.832835 7.28723 0.711045 6.72759 0.708383 6.16105V6.11772C0.708322 5.98051 0.753411 5.8471 0.836695 5.73806C0.919979 5.62902 1.03683 5.55042 1.16922 5.51438C0.887029 4.95133 0.74062 4.33002 0.741716 3.70022C0.741243 2.98619 0.928009 2.28452 1.28338 1.66522C1.33387 1.5773 1.40499 1.50299 1.4906 1.44869C1.57621 1.39439 1.67375 1.36173 1.7748 1.35352C1.87585 1.34532 1.97737 1.36183 2.07062 1.40161C2.16387 1.44139 2.24604 1.50326 2.31005 1.58188C3.76771 3.37766 5.85603 4.5491 8.14838 4.85688C8.12848 4.10704 8.31764 3.36645 8.6947 2.718C9.07176 2.06954 9.62185 1.53882 10.2834 1.18522C10.6184 1.00688 11.0617 0.864383 11.5184 0.78605H11.5175ZM2.11922 7.07605C2.28104 7.53148 2.55833 7.9371 2.92396 8.2532C3.28958 8.56931 3.73101 8.78508 4.20505 8.87938C4.34162 8.90659 4.4652 8.97863 4.55616 9.08407C4.64713 9.18952 4.70028 9.32232 4.70717 9.4614C4.71406 9.60049 4.6743 9.7379 4.59421 9.85182C4.51411 9.96573 4.39826 10.0496 4.26505 10.0902C4.03838 10.1594 3.80588 10.2069 3.57005 10.2344C3.82609 10.5647 4.15285 10.8334 4.52634 11.0209C4.89983 11.2083 5.31056 11.3098 5.72838 11.3177C5.85726 11.3201 5.98224 11.3624 6.08619 11.4386C6.19014 11.5148 6.26798 11.6213 6.30904 11.7435C6.3501 11.8657 6.35238 11.9976 6.31557 12.1211C6.27875 12.2446 6.20464 12.3538 6.10338 12.4335C5.23442 13.1173 4.22461 13.5997 3.14672 13.846C4.0391 14.1317 4.97056 14.2765 5.90755 14.2752H5.91505C7.11506 14.2879 8.30556 14.0613 9.41699 13.6086C10.5284 13.1559 11.5385 12.4863 12.3882 11.6389C13.2379 10.7914 13.9102 9.78311 14.3658 8.67288C14.8214 7.56265 15.0512 6.37276 15.0417 5.17272V4.72688C15.0416 4.57512 15.0967 4.4285 15.1967 4.31438C15.255 4.24855 15.355 4.09688 15.4967 3.84772C15.63 3.61272 15.7784 3.32938 15.9325 3.03022L15.96 2.97522C15.5247 3.07318 15.0765 3.10047 14.6325 3.05605C14.4824 3.0397 14.3433 2.96954 14.2409 2.85855C13.8218 2.40412 13.2637 2.10164 12.6542 1.99855C12.3468 1.95506 12.0344 1.9621 11.7292 2.01938C11.4318 2.06568 11.143 2.15642 10.8725 2.28855C10.3273 2.57989 9.89412 3.04398 9.64104 3.60804C9.38797 4.1721 9.32929 4.80421 9.47422 5.40522C9.49702 5.49972 9.49747 5.59825 9.47552 5.69296C9.45357 5.78766 9.40983 5.87595 9.34778 5.95079C9.28572 6.02563 9.20706 6.08495 9.11806 6.12406C9.02905 6.16316 8.93214 6.18097 8.83505 6.17605C6.2747 6.04654 3.8541 4.96917 2.04422 3.15355C2.00905 3.33392 1.99147 3.51728 1.99172 3.70105V3.70272C1.99078 4.16167 2.10335 4.61374 2.31941 5.01866C2.53546 5.42358 2.84829 5.76879 3.23005 6.02355C3.34215 6.099 3.42679 6.20876 3.47126 6.33636C3.51573 6.46397 3.51765 6.60255 3.47672 6.73134C3.43579 6.86012 3.35423 6.97217 3.24425 7.0507C3.13428 7.12922 3.00181 7.16999 2.86672 7.16688C2.61522 7.15991 2.36494 7.13005 2.11922 7.07605Z" fill="#44AC34"/>
            </svg>
            </span>
        </div>
        <div class="st-custom-button pinterest-icon" data-network="pinterest">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
                <path d="M7.2 0C2.8 0 0.5 2.8 0.5 5.9C0.5 7.4 1.3 8.9 2.6 9.7C3 9.9 2.9 9.7 3.2 8.5C3.2 8.4 3.2 8.3 3.1 8.2C1.3 6 2.8 1.7 7 1.7C13.1 1.7 11.9 10.1 8.1 10.1C7.3 10.2 6.6 9.6 6.6 8.8V8.4C7 7.3 7.3 6.3 7.4 5.2C7.4 3.1 4.3 3.4 4.3 6.2C4.3 6.7 4.4 7.2 4.6 7.6C4.6 7.6 3.6 11.7 3.4 12.4C3.2 13.6 3.3 14.8 3.5 15.9C3.4 16 3.5 16 3.5 16H3.6C4.3 15 4.9 14 5.3 12.9C5.4 12.4 5.9 10.6 5.9 10.6C6.4 11.3 7.3 11.7 8.2 11.7C11.3 11.7 13.5 9 13.5 5.7C13.5 2.4 10.7 0 7.2 0Z" fill="#44AC34"/>
                </svg>
            </span>
        </div>
        <div class="st-custom-button whatsapp-icon" data-network="whatsapp">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M3.00281 17L3.94921 13.5224C3.32561 12.4534 2.99798 11.2376 3.00001 10C3.00001 6.1339 6.13391 3 10 3C13.8661 3 17 6.1339 17 10C17 13.8661 13.8661 17 10 17C8.76295 17.002 7.54767 16.6746 6.47901 16.0515L3.00281 17ZM7.47371 6.7156C7.38331 6.72121 7.29498 6.74502 7.21401 6.7856C7.13807 6.8286 7.06875 6.88235 7.00821 6.9452C6.92421 7.0243 6.87661 7.0929 6.82551 7.1594C6.56679 7.49609 6.42763 7.90939 6.43001 8.334C6.43141 8.677 6.52101 9.0109 6.66101 9.3231C6.94731 9.95449 7.41841 10.623 8.04071 11.2425C8.19051 11.3916 8.33681 11.5414 8.49431 11.6807C9.26668 12.3607 10.1871 12.8511 11.1823 13.1129L11.5806 13.1738C11.7101 13.1808 11.8396 13.171 11.9698 13.1647C12.1737 13.1542 12.3727 13.099 12.5529 13.003C12.6691 12.9414 12.7237 12.9106 12.821 12.849C12.821 12.849 12.8511 12.8294 12.9085 12.786C13.003 12.716 13.0611 12.6663 13.1395 12.5844C13.1976 12.5242 13.248 12.4535 13.2865 12.373C13.3411 12.2589 13.3957 12.0412 13.4181 11.8599C13.4349 11.7213 13.43 11.6457 13.4279 11.5988C13.4251 11.5239 13.3628 11.4462 13.2949 11.4133L12.8875 11.2306C12.8875 11.2306 12.2785 10.9653 11.9068 10.7959C11.8676 10.7788 11.8256 10.7691 11.7829 10.7672C11.735 10.7623 11.6866 10.7677 11.641 10.783C11.5953 10.7983 11.5535 10.8233 11.5183 10.8561V10.8547C11.5148 10.8547 11.4679 10.8946 10.9618 11.5078C10.9328 11.5468 10.8927 11.5763 10.8469 11.5925C10.801 11.6087 10.7513 11.6109 10.7042 11.5988C10.6586 11.5866 10.6139 11.5712 10.5705 11.5526C10.4837 11.5162 10.4536 11.5022 10.3941 11.4763L10.3906 11.4749C9.99014 11.3001 9.61936 11.0639 9.2916 10.7749C9.2034 10.6979 9.12151 10.6139 9.03751 10.5327C8.76211 10.269 8.52211 9.9706 8.32351 9.6451L8.28221 9.5786C8.25254 9.53391 8.22856 9.48571 8.21081 9.4351C8.18421 9.3322 8.25351 9.2496 8.25351 9.2496C8.25351 9.2496 8.42361 9.0634 8.50271 8.9626C8.56857 8.87882 8.63002 8.79167 8.68681 8.7015C8.7694 8.5685 8.79531 8.432 8.75191 8.3263C8.55591 7.8475 8.35291 7.3708 8.14431 6.8976C8.10301 6.8038 7.98051 6.7366 7.86921 6.7233C7.83141 6.7191 7.79361 6.7149 7.75581 6.7121C7.6618 6.70743 7.5676 6.70906 7.47371 6.7156Z" fill="#FFFEF2"/>
                </svg>
            </span>
        </div>
        <div id="copy-button" class="st-custom-button copy-icon">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M12.375 3.15625H1.125C1.00068 3.15625 0.881451 3.20564 0.793544 3.29354C0.705636 3.38145 0.65625 3.50068 0.65625 3.625V14.875C0.65625 14.9993 0.705636 15.1185 0.793544 15.2065C0.881451 15.2944 1.00068 15.3438 1.125 15.3438H12.375C12.4993 15.3438 12.6185 15.2944 12.7065 15.2065C12.7944 15.1185 12.8438 14.9993 12.8438 14.875V3.625C12.8438 3.50068 12.7944 3.38145 12.7065 3.29354C12.6185 3.20564 12.4993 3.15625 12.375 3.15625ZM11.9062 14.4062H1.59375V4.09375H11.9062V14.4062ZM15.3438 1.125V12.375C15.3438 12.4993 15.2944 12.6185 15.2065 12.7065C15.1185 12.7944 14.9993 12.8438 14.875 12.8438C14.7507 12.8438 14.6315 12.7944 14.5435 12.7065C14.4556 12.6185 14.4062 12.4993 14.4062 12.375V1.59375H3.625C3.50068 1.59375 3.38145 1.54436 3.29354 1.45646C3.20564 1.36855 3.15625 1.24932 3.15625 1.125C3.15625 1.00068 3.20564 0.881451 3.29354 0.793544C3.38145 0.705636 3.50068 0.65625 3.625 0.65625H14.875C14.9993 0.65625 15.1185 0.705636 15.2065 0.793544C15.2944 0.881451 15.3438 1.00068 15.3438 1.125Z" fill="#44AC34"/>
                </svg>
            </span>
        </div>
    </div>
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=#{property?._id}&amp;product=custom-share-buttons"></script>
</div>
</div>
<script>
    document.querySelector('.share-button').addEventListener('click', (e) => {
        e.preventDefault()
        e.target.closest('.share-block').querySelector('.share_toolbox').classList.toggle('hidden')
    })

    document.addEventListener('click', function(e) {
        const targetElement = document.querySelector('.share-block')
        const target = e.target
        if (!targetElement.contains(target)) {
            // Clicked outside the div, so close it
            targetElement.querySelector('.share_toolbox').classList.add('hidden')
        }
    })

    const copyButton = document.querySelector('#copy-button')
    copyButton.addEventListener('click', function() {
        const textToCopy = window.location.href
        copyToClipboard(textToCopy)
    })

    function copyToClipboard(text) {
        navigator.clipboard.writeText(text)
            .then(() => {
                document.querySelector('#copy-text').classList.remove('hidden')
                setTimeout(() => {
                    document.querySelector('#copy-text').classList.add('hidden')
                },2000)
            })
            .catch((error) => {
                console.error('Unable to copy text to clipboard:', error);
        });
    }
</script>