.logo-image-with-text .logo-grid {
  margin-bottom: 0;
      display: flex;
    flex-direction: row;
}

.logo-image-with-text .logo-grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .logo-image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
}

.logo-image-with-text__media {
  min-height: 100%;
  overflow: visible;
}

.logo-image-with-text__media--small {
  height: 19.4rem;
}

.logo-image-with-text__media--medium {
  height: 29.6rem;
}

.logo-image-with-text__media--large {
  height: 43.5rem;
}

@media screen and (min-width: 750px) {
  .logo-image-with-text__media--small {
    height: 31.4rem;
  }

  .logo-image-with-text__media--medium {
    height: 46rem;
  }

  .logo-image-with-text__media--large {
    height: 69.5rem;
  }
}

.logo-image-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}

.logo-image-with-text__media--placeholder:after {
  content: '';
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}

.logo-image-with-text__media--placeholder.logo-image-with-text__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .logo-image-with-text__media--placeholder.logo-image-with-text__media--adapt {
    height: 30rem;
  }
}

.logo-image-with-text__media--placeholder > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.logo-image-with-text__media--placeholder:is(.animate--ambient, .animate--zoom-in) > svg {
  top: 0;
  left: 0;
  transform: translate(0);
}

.logo-image-with-text__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
  position: relative;
  z-index: 1;
}

.logo-image-with-text .logo-grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo-image-with-text:not(.logo-image-with-text--overlap) .logo-image-with-text__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.logo-image-with-text:not(.logo-image-with-text--overlap) .logo-image-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.logo-image-with-text .logo-image-with-text__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.logo-image-with-text .global-media-settings {
  overflow: hidden !important;
}

.logo-image-with-text .logo-image-with-text__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.logo-image-with-text:not(.logo-image-with-text--overlap) .logo-image-with-text__media-item > *,
.logo-image-with-text:not(.logo-image-with-text--overlap) .logo-image-with-text__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap) .logo-image-with-text__media-item:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap) .logo-grid__item .logo-image-with-text__media,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap) .logo-image-with-text__media img,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap) .logo-image-with-text__media .placeholder-svg {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .logo-image-with-text__media img {
    position: inherit;
    height: 100%;
    width: 100%;
  }

  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap) .logo-image-with-text__text-item:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap) .logo-grid__item .logo-image-with-text__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .logo-image-with-text.collapse-borders:not(.logo-image-with-text--overlap) .logo-image-with-text__content {
    border-top: 0;
  }
}

.logo-image-with-text__content--mobile-right > * {
  align-self: flex-end;
  text-align: right;
}

.logo-image-with-text__content--mobile-center > * {
  align-self: center;
  text-align: center;
}

.logo-image-with-text--overlap .logo-image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .logo-image-with-text__grid--reverse .logo-image-with-text__content {
    margin-left: auto;
  }

  .logo-image-with-text__content--bottom {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .logo-image-with-text__content--top {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .logo-image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }

  .logo-image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }

  .logo-image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }

  .logo-image-with-text--overlap .logo-image-with-text__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .logo-image-with-text--overlap .logo-image-with-text__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .logo-image-with-text--overlap .logo-image-with-text__grid--reverse .logo-image-with-text__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .logo-image-with-text--overlap .logo-image-with-text__grid--reverse .logo-image-with-text__text-item {
    justify-content: flex-end;
  }

  .logo-image-with-text--overlap .logo-image-with-text__media-item--top {
    align-self: flex-start;
  }

  .logo-image-with-text--overlap .logo-image-with-text__media-item--middle {
    align-self: center;
  }

  .logo-image-with-text--overlap .logo-image-with-text__media-item--bottom {
    align-self: flex-end;
  }

  .logo-image-with-text__media-item--small,
  .logo-image-with-text__media-item--large + .logo-image-with-text__text-item {
    flex-grow: 0;
  }

  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__media-item:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__media,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__media
    img,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__media
    .placeholder-svg,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__text-item:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__content,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__text-item:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__content,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__content:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__media-item:after,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__media,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__media
    img,
  .logo-image-with-text.collapse-corners:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__media
    .placeholder-svg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .logo-image-with-text.collapse-borders:not(.logo-image-with-text--overlap)
    .logo-grid:not(.logo-image-with-text__grid--reverse)
    .logo-image-with-text__content {
    border-left: 0;
  }

  .logo-image-with-text.collapse-borders:not(.logo-image-with-text--overlap)
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__content {
    border-right: 0;
  }
}

.logo-image-with-text:not(.collapse-corners, .logo-image-with-text--overlap) .logo-image-with-text__media-item {
  z-index: 2;
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.logo-image-with-text:not(.logo-image-with-text--overlap) .color-background-1,
.logo-image-with-text.logo-image-with-text--overlap .logo-image-with-text__media.color-background-1 {
  background: transparent;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.logo-image-with-text .gradient {
  transform: perspective(0);
}

.logo-image-with-text__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
}

@media screen and (min-width: 990px) {
  .logo-image-with-text__content {
    padding: 6rem 7rem 7rem;
  }
}

.logo-image-with-text__content > * + * {
  margin-top: 2rem;
}

.logo-image-with-text__content > .logo-image-with-text__text:empty ~ a {
  margin-top: 2rem;
}

.logo-image-with-text__content > :first-child:is(.logo-image-with-text__heading),
.logo-image-with-text__text--caption + .logo-image-with-text__heading,
.logo-image-with-text__text--caption:first-child {
  margin-top: 0;
}

.logo-image-with-text__content :last-child:is(.logo-image-with-text__heading),
.logo-image-with-text__text--caption {
  margin-bottom: 0;
}

.logo-image-with-text__content .button + .logo-image-with-text__text {
  margin-top: 2rem;
}

.logo-image-with-text__content .logo-image-with-text__text + .button {
  margin-top: 3rem;
}

.logo-image-with-text__heading {
  margin-bottom: 0;
}

.logo-image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .collapse-padding .logo-image-with-text__grid .logo-image-with-text__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collapse-padding
    .image-with-text__grid:not(.logo-image-with-text__grid--reverse)
    .image-with-text__content:not(.logo-image-with-text__content--desktop-center) {
    padding-right: 0;
  }

  .collapse-padding
    .logo-image-with-text__grid--reverse
    .logo-image-with-text__content:not(.logo-image-with-text__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .logo-image-with-text .logo-grid {
    margin-left: 0;
  }
}

/*
  Multirow
  note: consider removing from this stylesheet if multirow-specific styles increase signficantly
*/
.multirow__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}




svg.t4s-btn-icon{
    width: 15px;
    height: 15px;
    margin-left: 8px;
}
@media(max-width: 767px) {

    svg.t4s-btn-icon {
        width: 15px;
        height:15px;
        margin-left: 5px;
    }
  /*
  Our Story
*/
div#logoImageWithText--template--21384068268324__3bc83c67-b838-48cb-b1ab-80663f4d9604 {
    margin-bottom: 34px;
    margin-right: 26px;
}
div#logoImageWithText--template--21384068268324__8b021479-0829-4a3f-bebb-ff7c4f2b05f8 h2 {
    padding-top: 25px!important;
}
  div#logoImageWithText--template--21384068268324__8b021479-0829-4a3f-bebb-ff7c4f2b05f8 {
    padding: 0px!important;
}
  div#logoImageWithText--template--21384068268324__dad1d948-26f5-4094-af89-a1a122f6c9ac {
    margin-bottom: 40px;
}
}