/* Main banner */
.customers .logo_content_holder {
    width: 100%;
}
.customers .logo_content_holder .banner_logo,
.customers .logo_content_holder .banner__box.content-container {
    width: 45%;
}
.customers .logo_content_holder .banner__box.content-container {
    text-align: start;
    padding: 0 0 0 0;
}
.search-orders{
  display: none;
}
table.order-history thead tr {
    background: rgba(0, 0, 0, 0.05);
}
table.order-history  [data-label='Payment status'] span {
    background: black;
    color: white;
}
table.order-history  [data-label='Fulfillment status'] span {
    background: #21B666;
    color: white;
}

.customer:not(.account):not(.order) {
  margin: 0 auto;
  max-width: 33.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .customer:not(.account):not(.order) {
    max-width: 47.8rem;
  }
}

.customer > h1,
.customer__title {
  margin-top: 0;
}

.customer form {
  margin-top: 4rem;
}

.customer button, .customer .register-button {
  margin: 1rem 0 1.5rem;
  width:100%;
  text-transform: uppercase;
    font-size: 14px;
}

.customer ul {
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  padding-left: 4.4rem;
  text-align: left;
  margin-bottom: 4rem;
  font-size: 13px;
}

.customer ul a {
  display: inline;
  font-size: 13px;
}

.customer strong {
  font-weight: normal;
  color: rgb(var(--color-foreground));
}

.customer h2.form__message {
  font-size: 14px;
    letter-spacing: 0;
}
.errors li {
  font-size: 13px;
  letter-spacing: 0;
}
.forgotPassword{
    font-style: normal;
    font-weight: 430;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
margin-bottom:2px!important
}
.forgotPara{
  font-style: normal!important;
  font-weight: 350!important;
  font-size: 15px!important;
  line-height: 24px!important;
  color: #00000080!important;
  text-transform: none!important;
  max-width: 75%;
  margin: auto !important;
}

.customer .field {
  margin: 2rem 0 0 0;
}

.customer .field:first-of-type {
  margin-top: 0;
}

/* Customer Table */
.customer table {
  table-layout: auto;
  border-collapse: collapse;
  border-bottom: 0.01rem solid rgba(var(--color-foreground), 0.08);
  box-shadow: none;
  width: 100%;
  font-size: 1.3rem;
  position: relative;
}

@media screen and (min-width: 750px) {
  .customer table {
    border: none;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.08);
  }
}

@media screen and (forced-colors: active) {
  .customer table {
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid transparent;
  }
}

.customer tbody {
  color: rgb(var(--color-foreground));
}

.customer th,
.customer td {
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .customer td {
    padding-right: 2.2rem;
  }
}

.customer tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.customer td:empty {
  display: initial;
}

.customer thead th {
  font-size: 1.3rem;
    letter-spacing: .07rem;
    text-transform: uppercase;
    color: black;
}

.customer tbody td:first-of-type {
  padding-top: 4rem;
}

@media screen and (min-width: 750px) {
  .customer th,
  .customer td:first-of-type {
    text-align: left;
    padding-left: 0;
    padding-right: 2.2rem;
  }

  .customer thead th,
  .customer tbody td {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .customer th:first-of-type,
  .customer td:first-of-type {
    padding-left: 2.2rem;
  }

  .customer tbody td {
    vertical-align: top;
  }

  .customer tbody td:first-of-type {
    padding-top: 2.4rem;
  }
}

.customer tbody td:last-of-type {
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tbody td:last-of-type {
    padding-bottom: 0;
  }
}

.customer tbody tr {
  border-top: 0.01rem solid rgba(var(--color-foreground), 0.08);
}

@media screen and (min-width: 750px) {
  .customer tbody tr:first-of-type {
    border-top: none;
  }
}

@media screen and (forced-colors: active) {
  .customer tbody tr {
    border-top: 0.1rem solid transparent;
  }
}

.customer tfoot td:first-of-type,
.customer tfoot td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.customer tfoot td:first-of-type {
  text-align: left;
}

.customer tfoot tr:first-of-type td {
  padding-top: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:first-of-type td,
  .customer tfoot tr:first-of-type th {
    padding-top: 2.4rem;
  }
}

.customer tfoot tr:last-of-type td {
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .customer tfoot tr:last-of-type td,
  .customer tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

/* works around colspan phantom border issues */
.customer thead::after,
.customer tfoot::before {
  content: ' ';
  height: 0.1rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: rgba(var(--color-foreground), 0.08);
}

@media screen and (forced-colors: active) {
  .customer thead::after,
  .customer tfoot::before {
    background: CanvasText;
  }
}

/* mobile table overrides */
@media screen and (max-width: 749px) {
  .customer thead,
  .customer th,
  .customer tfoot td:first-of-type {
    display: none;
  }

  .customer td {
    display: flex;
    text-align: right;
  }

  .customer td::before {
    color: rgba(var(--color-foreground), 0.75);
    content: attr(data-label);
    font-size: 1.4rem;
    padding-right: 2rem;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
  }

  .customer td:first-of-type {
    display: flex;
    align-items: center;
  }

  .customer tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}

/* Pagination */
.customer .pagination {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

@media screen and (min-width: 990px) {
  .customer .pagination {
    margin-top: 7rem;
    margin-bottom: 10rem;
  }
}

.customer .pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.customer .pagination li {
  flex: 1 1;
  max-width: 4rem;
}

.customer .pagination li:not(:last-child) {
  margin-right: 1rem;
}

.customer .pagination li :first-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

.customer .pagination li :first-child svg {
  height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.customer .pagination li:last-of-type svg {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.customer .pagination li [aria-current]::after {
  content: '';
  display: block;
  width: 2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0.08rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}

/* Login */
.login a {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.login a[href='#recover'] {
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
  letter-spacing: 2px;
}

.login .field + a {
  margin-top: 1rem;
}

.login p {
  margin: 1.5rem 0;
}

.login h3 {
  margin-top: 1.5rem;
  text-align: left;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

#customer_login_guest button {
  margin-top: 0;
}

#recover,
#recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

#recover {
  margin-bottom: 0;
}

.activate button[name='decline'],
.addresses li > button,
.addresses form button[type] {
  background-color: rgba(var(--color-background), var(--alpha-button-background));
  color: rgb(var(--color-link));
}

@media only screen and (min-width: 750px) {
  .activate button[name='decline'] {
    margin-top: inherit;
    margin-left: 1rem;
  }
}

/* Account/Order */
:is(.account, .order) {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  :is(.account, .order) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) {
    display: flex;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
    flex-grow: 1;
    padding-right: 3.2rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  /* .order > div:nth-of-type(2) > div:last-of-type {
    display: flex;
  } */

  .order > div:nth-of-type(2) > div:last-of-type div {
    padding-right: 3.2rem;
  }
}

:is(.account, .order) p {
  margin: 0 0 2rem;
  font-size: 1.6rem;
}

:is(.account, .order) h1 {
  margin-bottom: 1rem;
}

:is(.account, .order) h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  :is(.account, .order) h2 {
    margin-top: 0;
  }
}

.account h1 + a {
  display: inline-flex;
  align-items: center;
}

.account a svg {
  width: 1.5rem;
  margin-bottom: -0.03rem;
  margin-right: 1rem;
}

@media screen and (min-width: 750px) {
  .account thead th:last-child,
  .account td:last-child {
    text-align: right;
  }

  .account table td:first-of-type {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.account table td:first-of-type a {
  padding: 1.1rem 1.5rem;
  text-decoration: none;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-link), 0.2);
  border: 0.1rem solid transparent;
  font-size: 1.2rem;
}

.account table td:first-of-type a:hover {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-link), 0.2);
}

.order td:first-of-type {
  align-items: initial;
}

@media screen and (min-width: 750px) {
  .order thead th:nth-last-child(-n + 3),
  .order td:nth-last-child(-n + 3) {
    text-align: right;
  }
}

.order tfoot tr:last-of-type td,
.order tfoot tr:last-of-type th {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .order tfoot tr:last-of-type td,
  .order tfoot tr:last-of-type th {
    padding-bottom: 2.4rem;
  }
}

.order tfoot tr:last-of-type td:before {
  font-size: 2.2rem;
}

.order table p,
.order > div:nth-of-type(2) > div:first-of-type h2,
.order > div:nth-of-type(2) > div:last-of-type h2 + p {
  margin-bottom: 0;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
  margin-bottom: 3rem;
}

.order .item-props {
  font-size: 1.4rem;
  margin-top: 0.05px;
  display: flex;
  flex-direction: column;
}

.order .item-props > span {
  word-break: break-all;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order .fulfillment {
  width: fit-content;
  border: 0.01rem solid rgba(var(--color-foreground), 0.2);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: left;
}

.order .fulfillment a {
  margin: 0.7rem 0;
}

.order .fulfillment span {
  display: block;
}

.order .cart-discount {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .order td .cart-discount {
    display: none;
  }
}

.order tbody ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 750px) {
  .order tbody ul {
    text-align: left;
  }
}

.order table a {
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order tbody tr:first-of-type td:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (min-width: 750px) {
  .order tbody tr:first-of-type td:first-of-type > div {
    align-items: flex-start;
  }
}

.order .properties {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.order .properties span {
  display: block;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order svg {
  width: 1.1rem;
  color: rgb(var(--color-base-accent-2));
  margin-right: 0.5rem;
}

.order dl {
  margin: 0;
}

.order dd {
  margin-left: 0;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order dd s {
  color: rgba(var(--color-foreground), 0.7);
}

.order .unit-price {
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}

.order .regular-price {
  font-size: 1.3rem;
}

/* Addresses */
.addresses li > button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.addresses li > button + button,
.addresses form button + button {
  margin-top: 0rem;
}

@media screen and (min-width: 750px) {
  .addresses li > button:first-of-type {
    margin-top: 3rem;
  }
}

.addresses form button:first-of-type {
  margin-right: 1rem;
}

label[for='AddressCountryNew'],
label[for='AddressProvinceNew'] {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.addresses form {
  display: flex;
  flex-flow: row wrap;
}

.addresses form > div {
  width: 100%;
  text-align: left;
}

.addresses ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

li[data-address] {
  margin-top: 5rem;
}

.customer .headingAccount{
  
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 3px;
}

.addresses [aria-expanded='false'] ~ div[id] {
  display: none;
}

.addresses [aria-expanded='true'] ~ div[id] {
  display: block;
}

.addresses h2 {
  text-align: left;
}

li[data-address] > h2 {
  text-align: center;
  font-size: calc(var(--font-heading-scale) * 1.8rem);
  margin-bottom: 0;
}

.registerNameWrapper.flexErapperMain {
  flex: 0 0 49%;
}
div#REGISTERTERMS {
  margin: 0;
}
div#REGISTERTERMS .checboxrememberme label {
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  margin-bottom: 0.7rem;
}
div#REGISTERTERMS .checboxrememberme a {
  color: black !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
  margin: 0 4px !important;
}

@media only screen and (min-width: 750px) {
  li[data-address] > h2 {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
  }
}

.cstmCustomerLogin .form__message {
  font-size: 1.4rem;
  letter-spacing: -0.4px;
  margin-bottom: 1rem;
}

.addresses ul p {
  margin-bottom: 0;
}

.addresses input[type='checkbox'] {
  margin-top: 2rem;
  margin-left: 0;
}

@media only screen and (min-width: 750px) {
  .addresses form > div:nth-of-type(1) {
    margin-right: 2rem;
  }

  .addresses form > div:nth-of-type(2) {
    margin-top: 0;
  }

  .addresses form > div:nth-of-type(1),
  .addresses form > div:nth-of-type(2) {
    box-sizing: border-box;
    flex-basis: calc(50% - 1rem);
  }
}

.addresses form > div:nth-of-type(7),
.addresses form > div:nth-of-type(7) + div[id] {
  margin-top: 1.5rem;
}
.bitlogin-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
#google-login.scheme-match-outline, #facebook-login.scheme-match-outline {
    background-color: white;
    color: black;
    border-color: rgba(0,0,0,0.1);
    width: 48%;
}
.loginWrapper{
width:100%;
background: rgba(0, 0, 0, 0.02);
    padding: 60px 10px 200px 10px;
}
.cstmCustomerLogin{
  background: white;
max-width:55rem !important;
padding: 4rem 4rem!important;
position: relative;
}

.loginpara{

font-style: normal!important;
font-weight: 350!important;
font-size: 16px!important;
line-height: 25px!important;
color: rgba(0, 0, 0, 0.5)!important;
margin: 0!important;
text-transform: none!important;
}
.loginHeader{
width: 100%;
}
.loginHeaderFlex{
display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.loginMainHeader.active{
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid #44AC34;
}
.loginMainHeader{
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.loginMainHeader.active .h-TxtMain{
    color: #44AC34;
}
.loginMainHeader .h-TxtMain{
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.7rem;
}

.registerMainHeader{
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.registerMainHeader.active{
display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    border-bottom: 2px solid #44AC34;
}
.registerMainHeader .r-TxtMain{

    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.7rem;
}
.registerMainHeader.active .r-TxtMain{

    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 25px;
    color: #44AC34;
}
#REGISTERcSTM{
font-style: normal;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 0;
}
.flexErapperMain label::after {
    bottom: 0;
    color: red;
    content: '*';
    position: absolute;
    transform: translate(-100%, 0);
  }
.flexErapperMain label{

font-style: normal;
font-weight: 510;
font-size: 14px;
line-height: 22px;
color: black;
margin-bottom: 4px;
}
.customer .field:after {
  display: none;
}
.bitlogin-root svg {
  width: 21px;
  height: 21px;
}
.bitlogin-root + div {
  margin-top: 2rem !important;
  position: relative;
  letter-spacing: -0.2px;
  text-transform: lowercase !important;
}
.bitlogin-root + div:before, .bitlogin-root + div:after {
  position: absolute;
  content: "";
  width: 45%;
  height: 0.1px;
  background: rgba(0,0,0,0.1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.bitlogin-root + div:after {
  left: auto;
  right: 0;
}

.customer .field input {
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 13px;
  height: 44px;
}
.customer .field input::placeholder {
  letter-spacing: -0.1px;
  color: rgba(0,0,0,0.3);
  opacity: 1;
}
.flexErapperMain .field {
margin-bottom:20px!important;
}
.bottom.login {
  margin: -1rem 0 2rem;
}
.checboxrememberme a{

font-style: normal;
font-weight: 315;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.14em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.7);
text-decoration: none;
}
.checboxrememberme label{

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
#google-login > p, #facebook-login > p, #apple-login > p, #whatsapp-login > p {
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  letter-spacing: -0.3px;
  font-size: 13px;
}
.checboxrememberme input[type=checkbox] {
  margin-right: 1rem;
  width: 16px;
  height: 16px;
}

a.customer-cancel-button {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
h1#recover {
  margin-top: 5rem;
}
a.customer-cancel-button svg {
  width: 2rem;
  height: 2rem;
}

@media(max-width:767px){
  .bitlogin-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}
#google-login.scheme-match-outline, #facebook-login.scheme-match-outline {
    width: 100%;
}
.cstmCustomerLogin{
  background: white;
  width:94%;
  max-width:94%!important;
  }
  .cstmCustomerLogin{
    padding: 1rem 1rem!important;
    }
    .loginWrapper{
      width:100%;
      background: rgba(0, 0, 0, 0.02);
          padding: 50px 10px 100px 10px;
      }
      .customer .headingAccount{
        font-size: 20px;
      }
      .loginpara {
        font-size: 14px!important;
    }
    #google-login.scheme-match-outline, #facebook-login.scheme-match-outline {
      margin-bottom: 1.5rem;
    }
    .bitlogin-root+div {
      margin-top: 1rem!important;
    }
    .flexErapperMain label {
      font-size: 13px;
  }
  .customer .field input::placeholder {
    font-size: 12px;
}
.login a[href="#recover"], .checboxrememberme label {
  font-size: 11px;
}
.loginMainHeader .h-TxtMain, .registerMainHeader .r-TxtMain {
  font-size: 14px;
}
h1#recover {
  font-size: 20px;
}
a.customer-cancel-button {
  top: 2.5rem;
  left: 2.5rem;
}
.forgotPara {
  max-width: 92%;
}
a.customer-cancel-button svg {
  width: 1.8rem;
  height: 1.8rem;
}
#REGISTERcSTM {
  font-size: 20px;
  line-height: 28px;
}
h3#REGISTERcSTM + #loginpara {
  font-size: 14px;
}
}

/* Custom Account Page */

.edit-account-page.page-width {
  padding: 4rem 0;
  display: flex;
    flex-wrap: wrap;
}
.side-bar {
  flex: 0 0 20%;
}
.main-bar {
  flex: 0 0 80%;
}
.tab-header {
      color: rgba(var(--color-foreground));
    font-size: 14px;
    margin: 1rem 4rem;
    cursor: pointer;
    display: inline-block;
}
.tab-header.active {
  border-bottom : 1px solid; 
}
.tab-details h3 {
  margin: 0;
  
  letter-spacing: 0;
  font-size: 22px;
  margin-bottom: 0.6rem;
}
.account-description {
  font-size: 14px;
}
.search-orders input {
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
  border: none;
  border-bottom: 1px solid #8080807a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 1.5rem 0;
}
.search-orders {
  position: relative;
}
.search-orders svg {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-orders input::placeholder {
  color: rgba(0,0,0,0.4);
}
table.order-history * {
  font-size: 12px;
  text-align: left;
  color: rgba(var(--color-foreground));
}
table.order-history {
  width: 100%;
  background: white;
  border-radius: 7px;
  border-collapse: collapse;
}
table.order-history th {
  color: black;
  letter-spacing: 1px;
}
table.order-history td, table.order-history th {
  padding: 1rem;
}
table.order-history tr {
  border: 1px solid #8080800f;
}
table.order-history th svg {
  position: relative;
  top: 3px;
}
span.order-table-label {
  background: #f1f1f1;
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
}
.account-description a {
  color: rgba(0,0,0,0.75);
}
.tab-details.my-profile {
  max-width: 53rem;
  margin-left: 0px;
}
.tab-details.my-profile .customer {
  all: unset;
}
.tab-details .customer form {
    margin-top: 2rem;
    background: white;
    padding: 2rem 0rem;
    border-radius: 8px;
}
.tab-details .customer button {
  margin: 5rem 0 0;
  width: auto;
  font-size: 14px;
  letter-spacing: 0;
  text-transform: none;
  background: rgba(0,0,0,0.8);
}
.tab-details .customer input::placeholder {
  opacity: 0;
}
.tab-details .customer .field input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 12px;
}
.tab-details  .customer .field input:focus, .tab-details  .customer .field input:not(:placeholder-shown), .tab-details  .customer .field input:-webkit-autofill {
  padding: 3rem 1.5rem 2rem 0rem;
}
.tab-details  .customer .field input:focus~label, .tab-details  .customer .field input:not(:placeholder-shown)~label, .tab-details  .customer .field input:-webkit-autofill~label {
  top: 2px;
  left: 0;
  letter-spacing: 0;
  color: rgba(0,0,0,0.5);
  font-size: 1rem;
}
.tab-details .customer .field label {
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 0;
}
.tab-details .customer .field input:focus-visible, .tab-details .customer select:focus-visible, .tab-details .customer .field input:focus, .tab-details .customer select:focus, .tab-details .field:after, .tab-details .select:after, .tab-details .customer .field:after,.tab-details .customer select:after{
  box-shadow: none;
}
.tab-details .name-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tab-details .customer .name-wrapper > div {
  margin: 0;
  flex: 0 0 48%;
}
.tab-details .customer .field:after, .tab-details .customer select:after{
  display: none;
}
.tab-details .customer select {
  min-height: 51px;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 12px;
  appearance: auto;
  -webkit-appearance: auto;
}
.tab-details .customer .field.gender, .tab-details .customer .field.birthday {
  margin-top: 2rem;
}
.update-profile-btn {
  text-align: center;
} 
span.required-sign {
  color: red;
}
.tab-details.my-address .addresses ul {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}
.tab-details.my-address .addresses ul li {
  margin-top: 0;
  flex: 0 0 23.5%;
  background: white;
  border-radius: 8px;
  margin-right: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  min-height: 20rem;
  padding-left: 0px;
}
.tab-details.my-address .customer.addresses {
  max-width: 100%;
  padding: 0;
  text-align: left;
}
.tab-details.my-address .customer.addresses * {
  font-size: 12px;
  letter-spacing: 0;
}
.address-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tab-details.my-address .customer.addresses .address-label.label {
  background: #f6f6f6;
  padding: 0.4rem 0.9rem;
  font-size: 11px;
  color: black;
  border-radius: 2px;
}
.tab-details.my-address .customer.addresses button:before, .tab-details.my-address .customer.addresses button:after {
  display: none;
}
.tab-details.my-address .customer.addresses button {
  all: unset;
  cursor: pointer;
}
.address-actions {
  display: flex;
  align-items: center;
}
.tab-details.my-address .customer.addresses button.delete-btn {
  margin-right: 0.7rem;
}
.tab-details.my-address .customer.addresses h4 {
  font-size: 13px;
  color: black;
  margin: 1rem 0 1px;
}
.tab-details.my-address .customer.addresses h5 {
  margin: 1.5rem 0 0.2rem;
  color: black;
}
.zip-city {
  display: flex;
  flex-wrap: wrap;
}
.zip-city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 55%;
}
.tab-details.my-address .customer.addresses p {
  margin: 0;
}
.shipping-address.cstm-address {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;
}
li.add-new-address {
  position: relative;
}
.tab-details.my-address .customer.addresses .add-new-address button {
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tab-details.my-address .customer.addresses .add-new-address button svg {
  margin-bottom: 0.3rem;
}
.tab-details.my-address .customer.addresses .address-form-wrapper h3 {
  font-size: 15px;
}
.tab-details.my-address .customer form {
  max-width: 55rem;
  margin-bottom: 2.5rem;
}
.address-form-actions {
  text-align: center;
  margin: 2rem 0 0;
}
.tab-details.my-address .customer.addresses .address-form-actions button.cancel-button {
  background: none;
  color: black;
  border: 1px solid;
  margin-left: 1rem;
}
.tab-details.my-address .customer.addresses .address-form-actions button {
  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 13px;
  border-radius: 2px;
  padding: 0.7rem 3rem;
  border: 1px solid black;
}
.set-default {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.tab-details.my-address .customer.addresses .set-default input {
  margin: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.page-width.customer.order h1, .page-width.customer.order h2 {
  letter-spacing: 0;
}
.page-width.customer.order h1.customer__title {
  font-size: 27px;
}
.page-width.customer.order h2 {  
  font-size: 20px;
}
.page-width.customer.order h2.order-return-and-exchange {
  margin: -1rem 0 3rem;
}
.page-width.customer.order h2.order-return-and-exchange a {
  font-size: 15px;
}

.customer .field input[type=radio] {
  all: unset;
  appearance: auto;
  margin-right: 0.8rem;
}
.title-field span {
  font-size: 14px;
}
.title-field {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

@media(min-width:768px){
  .mobile-details.mobile-only {
    display: none;
  }
  .page-width.customer.order{
    padding-left: 0;
    padding-right: 0;
  }
}

svg.show-password {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  z-index: 1;
}
svg.show-password.active path {
  fill-opacity: 1;
}

@media(max-width:1024px){
  .side-bar, .main-bar {
    flex: 0 0 100%;
  }
  .tab-details.my-address .addresses ul li {
    flex: 0 0 30.5%;
  }
  .side-bar {
    margin-bottom: 1.5rem;
  }
}

@media(max-width:767px){
table.order-history [data-label="Payment status"] span {
    /* display: table-caption; */
    width: 100%;
    white-space: nowrap;
}
table.order-history [data-label="Payment status"] span:first-child,
table.order-history [data-label="Fulfillment status"] span:first-child {
    background: transparent;
    color: black;
}
  .edit-account-page.page-width .mobile-details {
    width: 100%;
}
  .customers .logo_content_holder {
    justify-content: center;
}
  .edit-account-page.page-width {
    padding: 0rem 1.5rem;
    background: #f5f5f5;
  }
  .mobile-details.mobile-only h3, .mobile-details.mobile-only .account-description {
    text-align: center;
}
.mobile-details.mobile-only h3 {
  letter-spacing: 0;
  margin: 0 0 0.8rem;
  font-size: 18px;
  line-height: 1.4;
}
.account-description {
  font-size: 13px;
  line-height: 1.6;
}
.mobile-tab-header {
  background: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: black;
  margin: 2rem 0 1.5rem;
}
.tab-header {
  font-size: 13px;
      padding: 1rem 0rem;
    width: 100%;
    margin: 0;
}
.side-bar {
  display: none;
}
.side-bar.active {
  display: block;
}
.mobile-tab-header.active svg {
  transform: rotate(180deg);
}
span.tab-title br {
  display: none;
}
.tab-details h3, .tab-details .account-description {
  display: none;
}
.main-bar {
  padding: 0;
}
table.order-history tr {
  display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem 0px;
}
table.order-history td, table.order-history th {
  padding: 1rem 2rem;
    flex: 0 0 50%;
    /* white-space: nowrap; */
}
.tab-details .customer form {
  margin-top: 1rem;
  padding: 3rem 1.5rem;
  border-radius: 5px;
}
.tab-details.my-address .addresses ul li {
  flex: 0 0 100%;
  border-radius: 5px;
  min-height: 4.5rem;
  margin-right: 0;
  padding-left: 1.5rem;
}
.tab-details.my-address .addresses ul {
  flex-wrap: nowrap;
  margin-top: 0rem;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 1rem;
}
.tab-details.my-address .customer.addresses .add-new-address button {
  font-size: 13px;
  flex-direction: row;
}
.tab-details.my-address .customer.addresses .add-new-address button svg {
  margin-bottom: 0;
  margin-right: 0.6rem;
  width: 2.5rem;
  height: 2.5rem;
}
table.order-history {
  background: transparent;
  border: none;
}
.search-orders input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 0 1.5rem;
}
.tab-details.logout .account-description {
  display: block;
}
.customer.addresses h3 {
  display: block;
}
.page-width.customer.order h1.customer__title {
  font-size: 23px;
  margin-bottom: 0;
}
.page-width.customer.order h2 {
  font-size: 18px;
}
.order>div:nth-of-type(2)>div:first-of-type h2~p {
  font-size: 1.3rem;
}
.order tfoot tr:last-of-type td:before {
  font-size: 1.5rem;
}
.customer td:before {
  font-size: 1.3rem;
}
table.order-history th {
  display: none;
}
table.order-history thead {
  display: none;
}
table.order-history td[headers="RowOrder ColumnDate"] {
  padding-top: 1.8rem;
  text-align: end;
}
td#RowOrder * {
  font-size: 18px;
  text-underline-offset: 3px;
}
table.order-history .mobile-only {
  margin-bottom: 1.3rem;
}
table.order-history td[headers="RowOrder ColumnTotal"], table.order-history td[headers="RowOrder ColumnInvoice"] {
  flex: 0 0 100%;
  display: flex;
    justify-content: space-between;
}
table.order-history span.mobile-only.mb-total-text {
  margin: 0;
  color: black;
}
table.order-history td[headers="RowOrder ColumnTotal"] {
  border-top: 1px solid #f9f9f9;
  margin-top: 6px;
  padding-top: 1.2rem;
}
td.return__exchange {
  margin-bottom: 1rem;
}
}
table.order-history a.main-order-return-btn {
  color: white;
  text-decoration: none;
  background: black;
  padding: 0.8rem 1rem;
  border-radius: 4px;
}
/* Custom Account Page (end) */


.main-bar .tab-details.my-orders .account-description, 
.main-bar .tab-details.my-profile .account-description, 
.main-bar .tab-details.my-address .account-description
 {
  display: none;
}
